/* fraunces-regular - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fraunces-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/fraunces-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fraunces-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fraunces-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fraunces-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fraunces-v23-latin-regular.svg#Fraunces') format('svg'); /* Legacy iOS */
}
/* fraunces-900 - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/fraunces-v23-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/fraunces-v23-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fraunces-v23-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fraunces-v23-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fraunces-v23-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fraunces-v23-latin-900.svg#Fraunces') format('svg'); /* Legacy iOS */
}


/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/barlow-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-v12-latin-regular.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-700 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/barlow-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-v12-latin-700.svg#Barlow') format('svg'); /* Legacy iOS */
}


*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

body{
  font-family: 'Fraunces', ' Barlow';
  background: #F2F2F2;
}


.container{
  width: 1440px;
  margin: 0 auto;
  padding: 0 0px;
}

.header{
  position: fixed;
  top: auto;
  height: 110px;
  background-color: #F2F2F2;
}

.site-nav{
  padding: 45px 80px 45px 80px ;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__item{
  padding-left: 32px;
}

.nav__item--link{
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #83888F;
}
.nav__item--link:hover ,  .nav__item--link:active{
  color: #333D4B;
}

.site__nav--hamburger{
  display: none;
}

.hero{
  padding-top: 110px;
}

.hero__inner{
  background: url(../img/hero-bg-img.png);
  width: 1280px;
  height: 600px;
  margin-left: 80px;
  border-radius: 10px;
  padding: 120px 85px 120px 85px;
}

.hero__inner--title{
  margin-bottom: 32px;
  width: 493px; 
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}

.hero__inner--text{
  margin-bottom: 56px;
  width: 445px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.hero__inner--link{
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;
  background: #0E8784;
  border-radius: 6px;
  padding: 16px 31px 16px 31px;
}

.hero__inner--link:hover{
  background: #66D2CF;
}

.hero__inner--link:disabled{
  background: #E2DEDB;
}

.intro{
  padding: 136px 0 0 0; 
}

.intro__inner{
  margin: 136px 164px 200px 164px; 
  background-image: url("../img/intro-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 1111px;
  height: 524.55px;
}

.intro__inner--item+ .intro__inner--item{
  padding-left: 30px;
}

.intro__inner--item-img{
  margin-top: 130px;
}

.intro__inner--item-title{
  margin-top: 71px;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.intro__inner--item-text{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}

.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose__inner{
  margin: 0 80px 0 80px;
  width: 1280px;
  height: 577px;
  background: #2C343E;
  border-radius: 10px;
}

.choose__inner--title{
  margin-top: 100px;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
}

.choose__inner--text{
  margin-bottom: 86px;
  font-family: 'Barlow';
  font-style: normal;
  width: 540px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  opacity: 0.8;
}

.choose__inner--item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 48px 48px 48px;
  width: 350px;
  height: 382px;
  background: #0E8784;
  border-radius: 8px;
}

.choose__inner--item:hover{
  background: #F4F1EB;

}

.choose__inner--item + .choose__inner--item{
  margin-left: 30px;
}

.choose__inner--item-title{
  margin-top: 56px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #FEFCF7;
}

.choose__inner--item-text{
  margin-top: 24px;
  font-family: 'Barlow';
  font-style: normal;
  width: 255px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
}

.create{
  padding-top: 200px;
  margin-top: 151px;
}

.create__inner{
  margin-left: 165px;
}

.create__inner--title{
  padding-top: 200px;
  margin-bottom: 80px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F; 
}

.create__inner--stage-1{
  margin-bottom: 67px;
  display: flex;
  align-items: center;
}

.create__inner--stage-2{
  display: none;
}

.create__inner--list{
  display: flex;
}

.create__inner--item + .create__inner--item{
  padding-left: 110px;
}

.create__inner--item-number{
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}

.create__inner--item-title{
  margin-top: 38px;
  margin-bottom: 42px;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  width: 255px;
  color: #333D4B;
}

.create__inner--item-text{
  margin-bottom: 64px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 285px;
  color: #333D4B;
}

.create__inner--link{
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center; 
  color: #FEFCF7; 
  background: #0E8784;
  border-radius: 6px;
  padding: 16px 31px 16px 31px;
}

.create__inner--link:hover{
  background: #66D2CF;
}

.footer{
  padding-top: 200px;
  padding-bottom: 80px;

}

.footer__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 85px 48px 85px;
  margin-left: 80px;
  margin-right: 80px;
  background: #2C343E;
  width: 1280px;
  height: 120px;
}

.footer__inner--list, .footer__inner--social-list{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.footer__inner--social-list{
  padding-left: 200px;
}

.footer__inner--item + .footer__inner--item{
  padding-left: 33px;
}

.footer__inner--item-link{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #83888F;
}

.footer__inner--item-link:hover , .footer__inner--item-link:active{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FEFCF7;
}

.footer__inner--social-item + .footer__inner--social-item{
  padding-left: 24px;
}

.footer__inner--social-item_link:hover svg path{
    fill: #fdd6ba;
}


/* Responsive design for tablet */
@media (max-width:768px){
    .container{
      width: 768px;
      margin: 0;
      padding: 0;
    }

    .hero__inner{
      background: url(../img/tablet-hero-bg.png);
      width: 689px;
      height: 500px;
      margin-left: 40px;
      margin-right: 40px;
      padding: 100px 60px 100px 60px;
    }

    .site__nav--hamburger{
      display: none;
    }

    .site-nav{
      padding: 45px 40px 45px 40px ;
    }

    .hero__inner--title{
      margin-bottom: 24px;
      width: 329px; 
      font-size: 48px;
      line-height: 48px;
    }
    
    .hero__inner--text{
      margin-bottom: 40px;
      width: 398px;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
    }

    .intro__inner{
      margin: 0px 40px 144px 40px; 
      background-image: url("../img/tablet-intro-bg.png");
      background-repeat: no-repeat;
      width: 689px;
      height: 100%;
  
    }

    .intro__inner--list{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    
    .intro__inner--item{
      display: flex; 
      justify-content: space-between;
      align-items: center;
    }
    
    .intro__inner--item-content{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .intro__inner--item-title{
      width: 255px;
      margin-top: 71px;
      margin-bottom: 24px;
      font-size: 24px;
      line-height: 32px;
    }
    
    .intro__inner--item-text{
      width: 282px;
      font-size: 16px;
      line-height: 26px;
    }
    
    .choose__inner{
      padding: 0px;
      margin: 0px 40px 0 40px;
      width: 688px;
      height: 573px;
    }
  
    
    .choose__inner--title{
      margin-bottom: 32px;
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
    }
    
    .choose__inner--text{
      width: 540px;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }

    .choose__inner--list{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .choose__inner--item{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 70px 40px 50px;
      width: 573px;
      height: 180px;
      margin-bottom: 24px;
    }

    .choose__inner--item-img{
      margin-top: 30px;
    }

    .choose__inner--item-content{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .choose__inner--item + .choose__inner--item{
      margin-left: 0px;
    }
    
    .choose__inner--item-title{
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      color: #FEFCF7;
    }
    
    .choose__inner--item-text{
      width: 344px;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
    }
    
    .create{
      padding-top: 344px;
   
    }
    
    .create__inner{
      margin-left: 40px;
      margin-right: 40px;
      width: 689px;
      height: 622px;
    }

    .create__inner--stage-1{
      display: none;
    }

    .create__inner--stage-2{
      display: flex;
      align-items: center;
      margin-bottom: 48px;
    }

    .create__inner--item + .create__inner--item{
      padding-left: 10px;
    }

    .create__inner--item{
      width: 223px;
    }
    
    .create__inner--item-title{
      font-weight: 900;
      font-size: 28px;
      line-height: 32px;
      width: 223px;
      height: 64px;
    }
    
    .create__inner--item-text{
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      width: 223px;
    }

    .footer{
      padding-bottom: 80px;
    }
    
    .footer__inner{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 45px 200px 55px 200px;
      margin-left: 40px;
      margin-right: 40px;
      background: #2C343E;
      width: 688px;
      height: 270px;
    }

    .footer__inner--social-list{
      padding-left: 30px;
    }


}

/* Responsive-design for mobile screen */

@media (max-width:375px){
  .container{
    width: 375px;
    margin: 0;
    padding: 0;
  }

  .nav__list{
    display: none;
  }

  .site__nav--hamburger{
    display: block;
  } 

  .hero__inner{
    background: url(../img/mobile-hero-bg.png);
    width: 327px;
    height: 500px;
    margin-left: 24px;
    margin-right: 24px;
    padding: 100px 24px 100px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .site-nav{
    padding: 32px 24px 40px 24px ;
  }

  .hero__inner--title{
    margin-bottom: 24px;
    width: 279px; 
    font-weight: 900;
    font-size: 40px;
    line-height: 40px
  }
  
  .hero__inner--text{
    margin-bottom: 40px;
    width: 279px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }

  .intro__inner{
    margin: 0px 40px 120px 40px; 
    background-image: url("../img/mobile-intro-bg.png");
    background-repeat: no-repeat;
    width: 327px;
    height: 100%;

  }

  .intro__inner--list{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .intro__inner--item{
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

  .intro__inner--item +  .intro__inner--item{
    padding-left: 0px;
  }
  
  .intro__inner--item-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .intro__inner--item-title{
    width: 255px;
    margin-top: 71px;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 32px;
  }
  
  .intro__inner--item-text{
    width: 282px;
    font-size: 16px;
    line-height: 26px;
  }
  
  .choose__inner{
    padding: 0px;
    margin: 0px 20px 370px 20px;
    height: 950px;
    width: 327px;
  }

  
  .choose__inner--title{
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
  }
  
  .choose__inner--text{
    width: 279px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }

  .choose__inner--list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .choose__inner--item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 71px 33px 51px 33px;
    width: 279px;
    height: 382px;
    border-radius: 8px;

  }

  .choose__inner--item-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .choose__inner--item + .choose__inner--item{
    margin-left: 0px;
  }
  
  .choose__inner--item-title{
    width: 255px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
  }
  
  .choose__inner--item-text{
    width: 212px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }

  .create__inner{
    display: flex;
    flex-direction: column;
    align-items:center ;
  }
  
  .create__inner--title{
    text-align: center;
  }

  .create__inner--stage-1{
    display: none;
  }

  .create__inner--stage-2{
    display: none;
  }
  
  .create__inner{
    margin-left: 24px;
    margin-right: 24px;
    width: 327px;
    height: 100%;
  }

  .create__inner--list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .create__inner--item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 327px;
  }
  
  .create__inner--item-title{
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    width: 327px;
    height: 64px;
  }
  
  .create__inner--item-text{
    margin-bottom: 56px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    width: 327px;
    text-align: center;
  }
    
  .footer__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px 24px 0px 24px;
    padding-left:50px;
    width: 327px;
    height: 346px;
  }

  .footer__inner--list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__inner--item{
    margin: 0px 0px 24px 0px;
    padding-left: 30px;
  }

  .footer__inner--social-list{
    padding-left: 30px;
  }
  
}


/* About page */

.about__hero--inner{
  background-image: url(../img/about-hero-bg.svg);
  width: 1280px;
  height: 450px;
}

.about__hero--inner-title{
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 24px;
}

.about__hero--inner-text{
  font-family: 'Barlow';
  font-style: normal;
  width: 445px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.about__intro--inner{
  margin: 0 165px 0 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__intro--inner-img{
  border-radius: 8px;
}

.about__intro--inner-img-2{
  display: none;
}

.about__intro--inner-img-3{
  display: none;
}

.about__intro--content-title{
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
  margin-bottom: 32px;
}

.about__intro--content-text{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 540px; 
}

.about__quality--inner{
  padding: 0px 85px 88px 85px;
  margin-top: 256px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  height: 474px;
  width: 1280px;
  border-radius: 10px;
  background: #2C343E;

}

.about__quality--content-title{
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.about__quality--content-text{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 540px;
  color: #FEFCF7;
  opacity: 0.8;
}

.about__quality--inner-img{
  margin-bottom: 88px;
  background: #0E8784;
  border-radius: 8px;
}

.about__quality--inner-img-2{
  display: none;
}

.about__quality--inner-img-3{
  display: none;
}

.headquarters{
  padding-top: 168px;
}

.headquarters__inner{
  margin-left: 165px;
}

.headquarters__inner--title{
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 72px;
}

.headquarters__inner--list{
  display: flex;
  align-items: center;
}

.headquarters__inner--item + .headquarters__inner--item{
  padding-left: 95px;
}

.headquarters__inner--item-title{
  margin-top: 45px;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}

.headquarters__inner--item-text{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.headquarters__inner--item-text +.headquarters__inner--item-text{
  margin-top: 8px;
}

/* About page responsive design for TABLET */

@media (max-width: 768px){
  .container{
    width: 768px;
    margin: 0;
    padding: 0;
  }

 .about__hero--inner{
    background-image: url(../img/about-hero-tablet.png);
    width: 689px ;
    height: 400px ;
  }

  .about__hero--inner-title{
    font-size: 32px;
    line-height: 40px;
  }
  
  .about__hero--inner-text{
    font-size: 15px;
    line-height: 25px;
    width: 400px;
  }
  
  .about__intro--inner{
    margin: 0 40px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .about__intro--inner-img{
    display: none;
  }
  
  .about__intro--inner-img-2{
    display: block;
    border-radius: 8px;
  }

  .about__intro--inner-img-3{
    display: none;
  }
  
  .about__intro--content-title{
    font-size: 32px;
    line-height: 48px;
  }
  
  .about__intro--content-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    width: 340px; 
  }
  
  .about__quality--inner{
    margin-left: 40px;
    padding: 0px 60px 67px 60px;
    display: flex; 
    flex-direction: column-reverse;
    align-items: center;
    height: 488px;
    width: 688px;
  }
  
  .about__quality--content-title{
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    margin-top: 64px;
    margin-bottom: 24px;
  }
  
  .about__quality--content-text{
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    width: 540px;
    opacity: 0.8;
  }
  
  .about__quality--inner-img{
    display: none;
  }

  .about__quality--inner-img-2{
    display: block;
    border-radius: 8px;
  }
  
  .about__quality--inner-img-3{
    display: none;
  }

  .headquarters{
    padding-top: 168px;
  }
  
  .headquarters__inner{
    margin-left: 40px;
  }
  
  .headquarters__inner--list{
    display: flex;
    align-items: center;
  }
  
  .headquarters__inner--item{
    width: 223px;
  }

  .headquarters__inner--item + .headquarters__inner--item{
    padding-left: 9px;
  }
  
  .headquarters__inner--item-title{
    margin-top: 48px;
    margin-bottom: 21px;
    font-size: 24px;
    line-height: 36px;
  }
}



@media (max-width:375px){
  .container{
    width: 375px;
    margin: 0 auto;
    padding: 0px;
  }
  
  .about__hero--inner{
    background-image: url(../img/about-hero-mobile.png);
    width: 327px;
    height: 400px;
  }
  
  .about__hero--inner-title{
    font-size: 28px;
    line-height: 28px;
  }
  
  .about__hero--inner-text{
    width: 279px;
    font-size: 15px;
    line-height: 25px;
  }
  
  .about__intro--inner{
    margin: 0 24px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about__intro--inner-img{
    border-radius: 8px;
  }
  
  .about__intro--inner-img-2{
    display: none;
  }

  .about__intro--inner-img-3{
    display: block;
    border-radius: 8px;
  }

  .about__intro--content-title{
    text-align: center;
    font-size: 32px;
    line-height: 48px;
  }
  
  .about__intro--content-text{
    font-size: 15px;
    line-height: 25px;
    width: 327px; 
    text-align: center;
  }
  
  .about__quality--inner{
    padding: 0px 24px 88px 24px;
    margin-top: 120px;
    margin-left: 24px;
    margin-right: 24px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 587px;
    width: 327px;
  
  }
  
  .about__quality--content-title{
    font-size: 28px;
    line-height: 28px;
    margin-top: 110px;
  }
  
  .about__quality--content-text{
    font-size: 15px;
    line-height: 25px;
    width: 279px;
  }
  
  .about__quality--inner-img{
    display: none;
  }
  
  .about__quality--inner-img-2{
    display: none;
  }

  .about__quality--inner-img-3{
    display: block;
    border-radius: 8px;
  }

  .headquarters{
    padding-top: 168px;
  }
  
  .headquarters__inner{
    margin-left: 24px;
  }
  
  .headquarters__inner--title{
    text-align: center;
  }
  
  .headquarters__inner--list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .headquarters__inner--item + .headquarters__inner--item{
    padding-left: 0px;
    margin-top: 80px;
  }

  .headquarters__inner--item{

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .headquarters__inner--item-title{
    width: 327px;
    text-align: center;
    font-size: 28px;
  }
  
  .headquarters__inner--item-text{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
  }
  
  .headquarters__inner--item-text +.headquarters__inner--item-text{
    margin-top: 8px;
  }
  
}




/* Create page design */

.create__hero--inner{
  background-image: url(../img/create-hero-bg.png);
  width: 1280px;
  height: 450px;
}

.create__hero--inner-title{
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin-bottom: 24px;
}

.create__hero--inner-text{
  font-family: 'Barlow';
  font-style: normal;
  width: 445px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.create{
  padding-top: 0px;
}

.create__intro--inner{
  padding: 100px 85px;
  margin-left: 80px;
  margin-top: 0px;
  margin: 0px 80px 0px 80px;
  width: 1280px;
  height: 653px;
  background: #2C343E;
  border-radius: 10px;
}


.create__intro--inner-stage-1{
  display: flex;
  align-items: center;
  margin-bottom: 82px;
}

.create__intro--inner-stage-2{
  display: none;
}

.create__intro--inner-list{
  display: flex;
}

.create__intro--inner_item-title{
  margin-top: 38px;
  margin-bottom: 42px;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  width: 255px;
  color: #FEFCF7;
}
.create__intro--inner_item-text{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  width: 285px;
}